<!DOCTYPE html>
<html>

<head>
  <title>LSR Light Levels</title>
  <link rel="stylesheet" href="/chartist_min.css">
</head>

<body>
  <h2>Normalized Light Levels</h2>
  <script src="/chartist_min.js"></script>
  <div class="ct-chart ct-perfect-fourth"></div>
  <script type="text/javascript">
    var data = {
      labels: {{ args.get("timeAxis")}},
    series: [
      {{ args.get("lightAxis") }}
    ]
    };

    var options = {
      width: 1000,
      height: 600,
      showPoint: true,
      lineSmooth: true,
      axisX: {
        showGrid: true,
      },
      //axisY: {
      //labelInterpolationFnc: function (value) {
        //return value * 100 + "%";
      //   return '$' + value + 'm';
      //}
      //}
    };
    new Chartist.Line('.ct-chart', data, options);
  </script>
</body>

</html>
