/* General styles for all devices */
body, html {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    justify-content: center;
    align-items: center;
}

/* h1 { */
/*     text-align: center; /\* Center the header text *\/ */
/*     margin-bottom: 20px; /\* Space between header and content *\/ */
/* } */

.table-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

table {
    border-collapse: collapse;
    width: 100%;
    max-width: 600px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

/* Mobile-specific styles */
@media only screen and (max-width: 600px) {
    table {
        width: 90%; /* Reduce the width for smaller screens */
    }
}
